<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
    <!-- SEO -->
    <title>
      Antal •⁠ Banyak Kemacetan di setiap kota-kota besar, Angkutan Umum
      sangatlah Dibutuhkan!
    </title>
    <meta
      name="description"
      content="Mobilitas memang salah satu hal terpenting dalam kehidupan kota. Ini kebutuhan pokok penduduknya, menentukan efisiensi ekonomi dan sosialitasnya. Mobilitas horizontal di ruang fisik kota dapat dikatakan merupakan pendukung penting untuk mobilitas vertikal di dalam ruang sosial kota."
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="http://blog.antal-id.site/blog/4" />
  </head>
  <body>
    <!--================ Header Menu Area start =================-->
    <% include ./partials/nav %>
    <!--================Header Menu Area =================-->

    <!--================ Banner Section start =================-->
    <section
      class="hero-banner text-center"
      style="padding-top: 100px; padding-bottom: 20px;"
    >
      <!-- <div class="container">
        <h1>ANTAL BLOGS</h1>
        <p class="h5 mb-3">Let's read some good blogs, shall we?</p>
      </div> -->
    </section>
    <!--================ Banner Section end =================-->

    <section id="blog_area" class="blog_area section-margin mt-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 mb-5 mb-lg-0">
            <div class="">
              <a class="button" href="/">&lt; Blogs</a>
            </div>
            <br />
            <div class="single-post">
              <div class="feature-img">
                <img
                  class="img-fluid"
                  src="/img/blog/blog_1.jpg"
                  alt=""
                  style="width: 100%;"
                />
              </div>
              <div class="blog_details">
                <h2>
                  Banyak Kemacetan di setiap kota-kota besar, Angkutan Umum
                  sangatlah Dibutuhkan!
                </h2>
                <ul class="blog-info-link mt-3 mb-4">
                  <li>
                    <a href="#"><i class="ti-user"></i> Admin</a>
                  </li>
                  <li>
                    <a href="#">28 November 2019</a>
                  </li>
                </ul>
                <p>
                  Tidak bisa kita pungkiri lagi bahwa sekarang ini, semakin
                  sering kita mendengar keluhan-keluhan tentang kemacetan yang
                  kerap dan meluas di kota-kota besar-besar seperti Medan,
                  Jakarta, Makassar, Bandung, Surabaya, Manado, Palembang,
                  Yogyakarta, Semarang, Bogor, dan lain-lain.
                </p>

                <p>
                  Pertumbuhan ekonomi dan kelas menengah baru, dengan sendirinya
                  meningkatkan jumlah mobil dan motor pribadi di kota-kota.
                  Meningkatnya jumlah kendaraan ini, sangatlah tidak sebanding
                  dengan kapasitas jalan yang tersedia. Sehingga menyebabkan
                  kondisi jalan raya yang sekarang ini dipenuhi oleh banyaknya
                  kendaraan. Perlu kita tahu, bahwa mobil juga menuntut lahan
                  parkir, pompa bensin, bengkel, dan lain-lain yang secara pasti
                  menghabiskan lahan kota untuk benda-benda yang menjadi sumber
                  panas dan polusi.
                </p>

                <p>
                  Mobilitas memang salah satu hal terpenting dalam kehidupan
                  kota. Ini kebutuhan pokok penduduknya, menentukan efisiensi
                  ekonomi dan sosialitasnya. Mobilitas horizontal di ruang fisik
                  kota dapat dikatakan merupakan pendukung penting untuk
                  mobilitas vertikal di dalam ruang sosial kota.
                </p>

                <p>
                  Dan sebenarnya seluruh dunia sudah tahu, setidaknya sejak
                  akhir tahun 1960-an, bahwa jawaban untuk mobilitas adalah
                  sistem angkutan umum. Bukan ketergantungan kepada kendaraan
                  pribadi. Mobil pada awalnya meningkatkan kebebasan pribadi.
                  Tetapi kita tahu sekarang bahwa kebebasan itu palsu, sebab
                  bila kita lihat kondisi jalan yang sering macet seperti
                  sekarang ini, dimana kepadatan kendaraan justru memberikan
                  ketidaknyamanan yang hasilnya adalah ketidakbebasan.
                </p>

                <p>
                  Warga kota se-Indonesia perlu berhimpun untuk meningkatkan
                  tuntutan akan sistem angkutan umum segera. Sebab, hal itu akan
                  menentukan kenyamanan dan daya saing kota-kota kita. Dan
                  pemerintah harus segera memenuhinya.
                </p>
              </div>
            </div>
            <br />
            <div class="">
              <a class="button" href="/">&lt; Blogs</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">
      <div class="container">
        <div
          class="footer-bottom row align-items-center text-center text-lg-left"
        >
          <p class="footer-text m-0 col-lg-8 col-md-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Antal
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div
            class="col-lg-4 col-md-12 text-center text-lg-right footer-social"
          >
            <a href=""><i class="ti-facebook"></i></a>
            <a href=""><i class="ti-twitter-alt"></i></a>
            <a href=""><i class="ti-dribbble"></i></a>
            <a href=""><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================ End footer Area ================= -->
  </body>
</html>
