<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
    <!-- SEO -->
    <title>
      Antal •⁠ Alat Transportasi Angkot Online dengan Harga Murah, Kenyamanan,
      dan Kebersamaan
    </title>
    <meta
      name="description"
      content="Sebuah layanan transportasi online yang mengutilisasi angkot di Indonesia. Mengutamakan kenyamanan, tarif murah, dan kebersamaan"
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="http://antal-id.site/" />
  </head>
  <body>
    <!--================ Header Menu Area start =================-->
    <% include ./partials/nav %>
    <!--================Header Menu Area =================-->

    <!--================ Banner Section start =================-->
    <section
      class="hero-banner text-center"
      style="padding-top: 100px; padding-bottom: 20px;"
    >
      <div class="container">
        <h1>ANTAL BLOGS</h1>
        <p class="h5 mb-3">Let's read some good blogs, shall we?</p>
      </div>
    </section>
    <!--================ Banner Section end =================-->

    <div class="container mt-4">
      <div class="">
        <a class="button" href="http://antal-id.site">&lt; Home</a>
      </div>
    </div>

    <section id="blog_area" class="blog_area section-margin mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
              <article class="blog_item">
                <div class="blog_item_img">
                  <img
                    class="card-img rounded-0"
                    src="img/blog/main-blog/m-blog-1.jpg"
                    alt=""
                  />
                  <a href="#" class="blog_item_date">
                    <h3>15</h3>
                    <p>Jan</p>
                  </a>
                </div>

                <div class="blog_details">
                  <a class="d-inline-block" href="single-blog.html">
                    <h2>Google inks pact for new 35-storey office</h2>
                  </a>
                  <p>
                    That dominion stars lights dominion divide years for fourth
                    have don't stars is that he earth it first without heaven in
                    place seed it second morning saying.
                  </p>
                  <ul class="blog-info-link">
                    <li>
                      <a href="#"><i class="ti-user"></i> Travel, Lifestyle</a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-comments"></i> 03 Comments</a>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
              <article class="blog_item">
                <div class="blog_item_img">
                  <img
                    class="card-img rounded-0"
                    src="img/blog/main-blog/m-blog-1.jpg"
                    alt=""
                  />
                  <a href="#" class="blog_item_date">
                    <h3>15</h3>
                    <p>Jan</p>
                  </a>
                </div>

                <div class="blog_details">
                  <a class="d-inline-block" href="single-blog.html">
                    <h2>Google inks pact for new 35-storey office</h2>
                  </a>
                  <p>
                    That dominion stars lights dominion divide years for fourth
                    have don't stars is that he earth it first without heaven in
                    place seed it second morning saying.
                  </p>
                  <ul class="blog-info-link">
                    <li>
                      <a href="#"><i class="ti-user"></i> Travel, Lifestyle</a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-comments"></i> 03 Comments</a>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">
      <div class="container">
        <div
          class="footer-bottom row align-items-center text-center text-lg-left"
        >
          <p class="footer-text m-0 col-lg-8 col-md-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Antal
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div
            class="col-lg-4 col-md-12 text-center text-lg-right footer-social"
          >
            <a href=""><i class="ti-facebook"></i></a>
            <a href=""><i class="ti-twitter-alt"></i></a>
            <a href=""><i class="ti-dribbble"></i></a>
            <a href=""><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================ End footer Area ================= -->
  </body>
</html>
