<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
    <!-- SEO -->
    <title>
      Antal •⁠ 5 Perbedaan Antal dengan Angkot Konvensional (No. 4 kamu enggak
      nyangka deh!)
    </title>
    <meta
      name="description"
      content="Angkot, sebuah sebutan yang diberikan kepada angkotan kota di
      Indonesia. Angkot merupakan kendaraan di masa lalu yang masih
      bertahan sampai saat ini, akan tetapi image angkot di mata
      masyarakat tidak seperti yang diharapkan."
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="http://blog.antal-id.site/blog/1" />
  </head>
  <body>
    <!--================ Header Menu Area start =================-->
    <% include ./partials/nav %>
    <!--================Header Menu Area =================-->

    <!--================ Banner Section start =================-->
    <section
      class="hero-banner text-center"
      style="padding-top: 100px; padding-bottom: 20px;"
    >
      <!-- <div class="container">
        <h1>ANTAL BLOGS</h1>
        <p class="h5 mb-3">Let's read some good blogs, shall we?</p>
      </div> -->
    </section>
    <!--================ Banner Section end =================-->

    <section id="blog_area" class="blog_area section-margin mt-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 mb-5 mb-lg-0">
            <div class="">
              <a class="button" href="/">&lt; Blogs</a>
            </div>
            <br />
            <div class="single-post">
              <div class="feature-img">
                <img
                  class="img-fluid"
                  src="/img/blog/blog_3.jpg"
                  alt=""
                  style="width: 100%;"
                />
              </div>
              <div class="blog_details">
                <h2>
                  5 Perbedaan Antal dengan Angkot Konvensional (No. 4 kamu
                  enggak nyangka deh!)
                </h2>
                <ul class="blog-info-link mt-3 mb-4">
                  <li>
                    <a href="#"><i class="ti-user"></i> Admin</a>
                  </li>
                  <li>
                    <a href="#"> 2 October 2019</a>
                  </li>
                </ul>
                <p>
                  Angkot, sebuah sebutan yang diberikan kepada angkotan kota di
                  Indonesia. Angkot merupakan kendaraan di masa lalu yang masih
                  bertahan sampai saat ini, akan tetapi image angkot di mata
                  masyarakat tidak seperti yang diharapkan. Penilaian yang
                  diberikan masyarakat antara lain kotor, sesak, kebut –
                  kebutan, bau, dan sebagainya. Banyak sebutan diberikan kepada
                  angkot saaat ini dikarenakan fakta yang terjadi di kehidupan
                  sehari – hari.
                </p>

                <p>
                  Jadi, kali ini kami akan memberikan perbbedaan antara angkot
                  konvensional yang ada saat ini dengan Antal (Angkot Digital),
                  berikut kami rangkum beberapa perbedaannya.
                </p>

                <p>
                  <strong>1. Info trayek</strong><br />
                  Banyak masyarakat yang masih bingung dengan ketidakjelasan
                  trayek yang dilalui oleh angkot konvensional saat ini sehingga
                  masih ada masyarakat yang tersesat karena salah menaiki
                  angkot. Sedangkan Antal terdapat fitur yang memberika info
                  trayek yang dilalui oleh angkot secara real – time bagi angkot
                  yang terdaftar di Antal.
                </p>

                <p>
                  <strong>2. Biaya/Ongkos</strong><br />
                  Angkot konvensional memiliki tarif yang berubah sesuai dengan
                  peraturan dan jarak tempuh tujuan sehingga membingungkan dan
                  merepotkan masyarakat saat akan membayar ongkos kepada supir.
                  Sedangkan Antal menyediakan info tarif sesuai dengan tempat
                  tujuan.
                </p>

                <p>
                  <strong>3. Kondisi Kendaraan</strong><br />
                  Kondisi angkot konvensional yang ada saat ini tidak terawat
                  dikarenakan cara berkendara supir yang suka kebut – kebutan di
                  jalan. Di Antal kami melakukan servis secara berkala terhadap
                  setiap angkot yang ada.
                </p>

                <p>
                  <strong>4. Perilaku Supir</strong><br />
                  Perilaku supir yang suka kebut – kebutan di jalan, menerobos
                  lampu merah dan berhenti sembarangan meresahkan masyarakat
                  terutama bagi yang mengendarai kendaraan pribadi, karena
                  mereka harus berhati – hati dalam berkendara.
                </p>

                <p>
                  <strong>5. Pembayaran</strong><br />
                  Angkot konvensional masih menggunakan pembayaran
                  manual/membayar secara langsung kepada sang supir berupa uang
                  dan supir angkot masih harus menyetor harian kepada masing –
                  masing kepala angkot. Sedangkan pada Antal disediakan fitur
                  pembayaran cashless, dimana penumpang boleh menggunakan
                  e-money untuk melakukan pembayaran.
                </p>
              </div>
            </div>
            <br />
            <div class="">
              <a class="button" href="/">&lt; Blogs</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">
      <div class="container">
        <div
          class="footer-bottom row align-items-center text-center text-lg-left"
        >
          <p class="footer-text m-0 col-lg-8 col-md-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Antal
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div
            class="col-lg-4 col-md-12 text-center text-lg-right footer-social"
          >
            <a href=""><i class="ti-facebook"></i></a>
            <a href=""><i class="ti-twitter-alt"></i></a>
            <a href=""><i class="ti-dribbble"></i></a>
            <a href=""><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================ End footer Area ================= -->
  </body>
</html>
